<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily Farm Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        img {
            width: 100%;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Daily Farm Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feedstocking">Feeds Stocking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fodder">Fodder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/insemination">Insemination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employees">Employees</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vetinary
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/vetinary">Add Record</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/get-all-vet-details">View Records</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Milk Records
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="milkProduction">Add Record</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/get-all-milk-records">View Records</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="/create-user">Create User</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 bg-light pt-5 pb-5">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feedstocking">Feeds Stocking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fodder">Fodder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insemination">Insemination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employees">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vetinary">Vetinary</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Milk Records
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="milkProduction">Add Record</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/get-all-milk-records">View Records</a>
                    </div>
                    <a class="nav-link" href="/milkProduction"></a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-10 pt-5 pb-5">
            <div class="container">
                <h2>All Insemination Records</h2>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <th scope="row">#</th>
                                <th scope="col">Ai Cost</th>
                                <th scope="col">Serving Bull</th>
                                <th scope="col">Cow Name</th>
                                <th scope="col">Serving Bull</th>
                                <th scope="col">Date</th>
                            </tr>
                            <% records.forEach((record)=>{ %>
                                <tr>
                                    <th scope="row">1</th>
                                    <td><%= record.aiCost %></td>
                                    <td><%= record.servingBull %></td>
                                    <td><%= record.cowName %></td>
                                    <td><%= record.breed %></td>
                                    <td><%= record.date %></td>
                                </tr>
                            <% }); %>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom:0">
    <div class="row">
        <div class="col-sm-2 pt-3">
            <p class="small">Dairy Farm Management System @ 2020.</p>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-10 pt-3 bg-light">
            <div class="container">
                <p class="small">
                    Development Team:
                    <a href="https://github.com/danjoki/">Daniel Kinyanjui</a> |
                    <a href="https://github.com/NdiklasTheCoder/">Nicholas Ndiki</a> |
                    <a href="https://github.com/mbuguap928/">Peter Mbugua</a> |
                    <a href="https://github.com/darigah/">Douglas Arigah</a> |
                    <a href="https://github.com/nnjambi/">Nancy Karanja</a> |
                    <a href="https://github.com/Duncankenji/">Dancun Otieno</a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
